.schedule {
    width: 1240px;
    height: auto;
}

.container {
    width: 64%;
    margin: 100px auto;

}

.schedule-title h2 {
    font-size: 2.5rem;
}

.schedule-title .title {
    color: #76DE99;
}

.total {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    margin-top: 3px;
}

.total p {
    font-size: 1rem;
    color: #766F6F;
    padding-left: 7px;
}

.top {
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #262729;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom: 1px solid #2D2C2F;
}

.ic-arrow img {
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
}

.ic-arrow b {
    font-size: 1.8rem;
    padding-left: 10px;
}

.ic-calendar {
    display: flex;
    align-items: baseline;
}

.ic-calendar img {
    width: 15px;
}

.ic-calendar p {
    padding-left: 5px;
    font-size: 1rem;
}

.weeks {
    display: flex;
    background-color: #1F2022;
    padding: 26px 35px;
    border-bottom: 1px solid #2D2C2F;
}

.weeks p {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}

.work-schedule {
    height: auto;
    background-color: #1F2022;
}

.schedule-day {
    display: flex;
    padding: 55px 68px;
    align-items: flex-end;
}

.schedule-day b {
    font-size: 1.8rem;
}

.schedule-day p {
    font-size: 1.2rem;
    color: #aaa;
    padding-left: 10px;
}

.schedule-day img {
    background-color: #202020;
    border: 1px solid #2D2C2F;
    margin-left: auto;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    width: 33px;
    height: 33px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.schedule-card {
    display: flex;
    padding: 0 65px;
    margin-bottom: 58px;
}

.card {
    background-color: #24272C;
    border-radius: 9px;
    display: flex;
    margin-left: 15px;
}

.line {
    border-left: 3px solid #76DE99;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    padding: 12px 40px 12px 0;
    display: flex;
}

.text {
    padding-left: 32px;
    padding-right: 50px;
}

.up {
    display: flex;
    margin-bottom: 35px;
}

.up p:nth-of-type(1) {
    color: #aaa;
    font-size: 1rem;
    padding-right: 55px;
}
.up p:nth-of-type(2) {
    color: #E8E8E8;
    font-size: 1rem;
}

.down {
    display: flex;
}
.down p:nth-of-type(1) {
    color: #aaa;
    font-size: 1rem;
    padding-right: 30px;
}
.down p:nth-of-type(2) {
    color: #E8E8E8;
    font-size: 1rem;
}
