.titleLine {
    padding: 0 90px 0 20px;
    background-color: #262729;
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: bold;
}

.oneline {
    padding: 0 20px;
    border-bottom: 1px solid #2D2C2F;
    display: flex;
    align-items: center;
    gap: 40px;

    .editBtn {
        width: 30px;
        height: 30px;
        aspect-ratio: 1/1;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background-color: #2D2C2F;
        }
    }
}

.text {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    > div {
        width: 100%;
        display: flex;
        gap: 10px;
    }
}

.checkbox {
    appearance: none;
    cursor: pointer;
    width: 13px;
    height: 13px;
    aspect-ratio: 1/1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262729;
    border: 1px solid #5A5B5C;
    border-radius: 3px;

    &:checked {
        background: url(/img/icon/ic-check.svg) no-repeat center / contain;
        background-color: #85D575;
        border: 1px solid #5A5B5C;
        border-radius: 3px;
    }
}
