/* ================== Layout ================== */
.staff {
    margin: 100px auto 0;
    width: 100%;
    max-width: 1240px;
}

.staffContainer {
    display: flex;
    gap: 26px;
    align-items: flex-start;
}

.staffMain {
    flex: 1;
    width: 100%;
}






/* ================== Header ================== */
.staffHeader {
    h2 {
        font-size: 2.5rem;
    }

    .staffTitle {
        color: #76DE99;
    }

}

.staffTotal {
    display: flex;
    align-items: flex-end;
    color: #766F6F;
    font-size: 1rem;
    margin-top: 5px;

    p {
        padding-left: 5px;
    }

    img {
        display: inline-block;
        vertical-align: middle;
    }
}






/* ================== Actions (검색 + 버튼) ================== */
.staffActions {
    margin: 35px auto 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}


.searchBar {
    width: 100%;
    max-width: 270px;
    height: 35px;
    background-color: #262729 !important;
    border: 1px solid #76DE99 !important;
    border-radius: 50px !important;
    padding: 0 10px;
}

.staffActionButtons img {
    width: 18px;
    height: 18px;

}

.staffActionButtons {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
        cursor: pointer;
        background-color: #76de99;
        width: 33px;
        height: 33px;
        padding: 7px;
        box-sizing: border-box;
        border-radius: 8px;
    }
}




/* ================== Checkbox ================== */
.checkbox {
    appearance: none;
    cursor: pointer;
    width: 13px;
    height: 13px;
    aspect-ratio: 1/1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262729;
    border: 1px solid #5A5B5C;
    border-radius: 3px;
    display: flex;
    align-items: center;

    &:checked {
        background: url(/img/icon/ic-check.svg) no-repeat center / contain;
        background-color: #85D575;
        border: 1px solid #5A5B5C;
        border-radius: 3px;
    }
}







/* ================== Table ================== */
.staffTable {
    width: 100%;
    border: 1px solid #2D2C2F;
    border-radius: 11px;
    background-color: #1F2022;
    overflow-y: auto;

    height: 65vh;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.staffTable::-webkit-scrollbar {
    display: none;
}






/* ================== Table Layout ================== */
.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns:
        40px
        /* 체크박스 */
        100px
        /* 이름 */
        100px
        /* 나이 */
        115px
        /* 시급 */
        100px
        /* 파트 */
        130px
        /* 요일 */
        140px
        /* 시간 */
        1.5fr
        /* 전화번호 */
        40px;
    /* 수정 */
    align-items: center;
    column-gap: 20px;
}







/* ================== Table Header ================== */
.tableHeader {
    padding: 27px 36px;
    background-color: #262729;
    color: #E8E8E8;
    font-size: 1rem;
    font-weight: bold;

    img {
        padding-left: 10px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
}







/* ================== Table Row ================== */
.tableRow {
    padding: 35px 0 25px 36px;
    border-bottom: 1px solid #2D2C2F;
    font-size: 1rem;
    color: #E8E8E8;
    font-size: 1rem;

    p:nth-of-type(2) {
        color: #898F9A;
    }

    p:nth-of-type(7) {
        color: #898F9A;
    }

    img {
        cursor: pointer;
    }
}
